name: Cinefy CI/CD pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  backend:
    name: Build Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build Backend
        working-directory: cinefy-backend
        run: mvn clean package -DskipTests
  
  frontend:
    name: Build frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: cinefy-frontend/package-lock.json
      
      - name: Install Dependencies
        working-directory: cinefy-frontend
        run: npm ci

      - name: Build Frontend
        working-directory: cinefy-frontend
        run: npm run build
